.navbar{
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0rem 3rem;
}

.title{
  font-size: 4rem;
}

.navitem{
  font-size: 2rem;
  margin-left: 0.5rem;
}

.navcart{
  max-height: 2rem;
}

.main{
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0rem 0rem 1rem;
}

.catitem{
  margin: 2rem;
}

.form{
  margin-top: 2rem;
}

img.small{
  max-height: 15rem;
}

.description{
  max-width: 20rem;
}

.products{
  margin: 4rem 0rem 0rem 3.2rem;
}